footer {
    padding-inline: 5rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
footer nav a {
    gap: 0.5rem;
    font-size: 1.1rem;
    transition: 500ms;
}
footer nav a:hover {
    opacity: 0.6;
    transition: 500ms;
}