#container-readline {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--c-dark-zinc);
}

.text {
    width: 60%;
}

.title {
    user-select: none;
    text-align: center;
    font-size: 6.4rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.subtitle {
    user-select: none;
    font-size: 1.4rem;
    text-align: center;
    transition: 500ms;
}

.subtitle:hover {
    color: var(--c-green);
    transition: 500ms;
}