:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;

  --c-black: #181818;
  --c-light-zinc: #cec1c1;
  --c-dark-zinc: #9a9a9a;
  --c-green: #42d392;
  --c-background-buttons: #2ea770;

  color-scheme: dark;
  background-color: var(--c-black);
  color: #cecece;

  border: var(--c-dark-zinc);
}

html,
* {
  scroll-behavior: smooth;
}

.gradient-green {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: hidden;
}

body::after {
  content: '';
  background-color: #42d392;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  filter: blur(100px);
  opacity: 0.4;
}




h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
}

a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--c-green);
  text-decoration: inherit;
}

button {
  background-color: var(--c-background-buttons);
  border: none;
  padding: 0.8rem 1.4rem;
  border-radius: 1.5rem;
  color: var(--c-black);
  cursor: pointer;
  transition: 300ms;
}

.button-hover:hover {
  opacity: 0.8;
  transition: 300ms;
}

@media screen and (max-width: 920px) {
  body::after {
    width: 100px;
    height: 100px;
  }
}