#container-about {
  min-height: 80vh;
  padding: 3rem;
  background-color: #111111;
  margin-block: 2rem;
  border-radius: 2rem;
  box-shadow: var(--shadow);
  border: 2px solid #181818;
}

img {
  width: 125%;
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

#p {
  margin-top: 2rem;
}

main {
  margin-top: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 2rem;
}

#container-about p {
  font-weight: 300;
}

.style-about-h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--green);
}

.name {
  font-size: 4.8rem;
}

.sub-about {
  font-weight: 700 !important;
}

.text-about{
  margin-top: 2rem;
}

@media screen and (max-width: 1020px){
  img {
    width: 300%;
  }
}

@media screen and (max-width: 720px) {
  #container-about {
    padding-inline: 2rem;
  }
  img {
    width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
  }
}
